#[Title]#
WPScan Scan Information


#[TargetURL]#
%scan_info.target_url%


#[WordpressVersion]#
%scan_info.wordpress_version%


#[Plugins]#
%scan_info.plugins_string%


#[Themes]#
%scan_info.themes_string%


#[Users]#
%scan_info.users%


#[WPScanVersion]#
%scan_info.wpscan_version%


#[StartTime]#
%scan_info.start_time%


#[TotalScanTime]#
%scan_info.elapsed%
